
/* CSS RESET */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove default list styles */
:is(ul, ol) {
  list-style-type: "";
}

/* Adjust default line height */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}

/* Remove default link styles*/
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* FONTS */

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/inter-v18-latin-600.woff2') format('woff2');
  }

  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inter-v18-latin-700.woff2') format('woff2'); 
  }


  /* CUSTOM PROPERTIES */

  :root {

    --ff-sans-serif: 'Inter', sans-serif;
    --fw-600: 600;
    --fw-700: 700;
    --fw-400: 400;

    --ff-primary: var(--ff-sans-serif);
    --fw-regular: var(var(--fw-400));
    --fw-medium: var(--fw-600);
    --fw-bold: var(--fw-700);
  }


  /* UTILITIES */

  .visually-hidden {
    clip-path: inset(50%);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
  }

  .flow {
    --flow-space: 20px;
  }

  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }


  /* GENERAL STYLES */
  
  body {
    padding: 16px;
    font-family: var(--ff-primary);
  }

  .container {
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .temp-converter {
    padding: 30px;
    border-radius: 10px;
    outline: 2px solid darkgreen;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-input {
    border-radius: 6px;
    border: transparent;
    border: 1px solid hsl(0, 97%, 12%);
  }

  .radios-wrapper {
    --flow-space: 10px;

    > * {
        --flow-space: 6px;
    }
  }

  .convert {
    border: transparent;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: var(--fw-medium);
    background-color: red;
    padding: 1em 2em;
    width: 100%;
    cursor: pointer;
  }

  .result {
    text-align: center;
    font-weight: var(--fw-medium);
  }