
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove default list styles */
:is(ul, ol) {
  list-style-type: "";
}

/* Adjust default line height */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}

/* Remove default link styles*/
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* FONTS */

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/inter-v18-latin-600.woff2') format('woff2');
  }

  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inter-v18-latin-700.woff2') format('woff2'); 
  }


  /* CUSTOM PROPERTIES */

  :root {

    /* Primitive properties */

    --clr-light: hsl(0, 39%, 96%);
    --clr-light-pink: hsl(351, 59%, 85%);
    --clr-burgundy: hsl(340, 87%, 15%);
    --clr-dark-blue: hsl(201, 100%, 12%);

    --clr-pink: hsl(330, 100%, 75%);
    --clr-light-blue: hsl(198, 84%, 70%);
    --clr-red: hsl(1, 100%, 70%);
    --clr-green: hsl(156, 98%, 40%);
    --clr-dark: hsl(0, 0%, 9%);


    --ff-sans-serif: 'Inter', sans-serif;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --size-8px: 8px;
    --size-12px: 12px;
    --size-16px: 16px;
    --size-20px: 20px;
    --size-24px: 24px;
    --size-28px: 28px;
    --size-32px: 32px;
    --size-36px: 36px;
    --size-40px: 40px;

    /* Semantic properties */

    --clr-100: var(--clr-light);
    --clr-200: var(--clr-light-pink);
    --clr-300: var(--clr-burgundy);
    --clr-400: var(--clr-dark-blue);

    --clr-1000: var(--clr-pink);
    --clr-2000: var(--clr-light-blue);
    --clr-3000: var(--clr-red);
    --clr-4000: var(--clr-green);
    --clr-5000: var(--clr-dark);



    --ff-primary: var(--ff-sans-serif);
    --fw-regular: var(var(--fw-400));
    --fw-medium: var(--fw-600);
    --fw-bold: var(--fw-700);
    
    --size-100: var(--size-8px);
    --size-150: var(--size-12px);
    --size-200: var(--size-16px);
    --size-250: var(--size-20px);
    --size-300: var(--size-24px);
    --size-350: var(--size-28px);
    --size-400: var(--size-32px);
    --size-450: var(--size-36px);
    --size-500: var(--size-40px);


  /* UTILITIES */

  .visually-hidden {
    clip-path: inset(50%);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
  }

  .flow {
    --flow-space: var(--size-250);
  }

  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .uppercase {
    text-transform: uppercase;
  }

  .fw-medium {
    font-weight: var(--fw-medium);
}

  .fw-bold {
    font-weight: var(--fw-bold);
  }


  /* GENERAL STYLES */
    
  body {

    --page-bg: var(--clr-100);
    --bg: var(--clr-5000);
    --text: var(--clr-2000);
    --btn-bg: var(--clr-2000);
    --btn-text: var(--clr-5000);
    --clr-heading: var(--clr-5000);
    --theme-btn-bg:var(--clr-5000) ;
    --theme-btn-text: var(--clr-100);



    padding: var(--size-200);
    font-family: var(--ff-primary);
    background-color: var(--page-bg);

    &:is(.dark) {
      --page-bg: var(--clr-5000);
      --bg: var(--clr-100);
      --text: var(--clr-5000);
      --btn-bg: var(--clr-5000);
      --btn-text: var(--clr-1000);
      --clr-heading: var(--clr-1000);
      --theme-btn-bg:var(--clr-100) ;
      --theme-btn-text: var(--clr-5000);
  }
  }

  .container {
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;
    padding-block: var(--size-300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-500);
  }

  .main-heading {
    color: var(--clr-heading);
    text-align: center;
  }

  .theme {
    border: transparent;
    background-color: var(--theme-btn-bg);
    color: var(--theme-btn-text);
    padding: 1em 2em;
    cursor: pointer;
    border-radius: var(--size-200);
    transition: 250ms ease-in-out;

    &:is(:hover, :focus-visible) {
        opacity: .9;
    }
  }

  .temp-converter {
    padding: var(--size-400);
    border-radius: var(--size-100);
    background-color: var(--bg);
    color: var(--text);
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-100);
  }

  .text-input {
    padding: .25em;
    border-radius: var(--size-100);
    border: transparent;
    border: 1px solid var(--clr-300);
  }

  .error {
    color: var(--clr-4);
  }

  .legend {
    text-align: center;
  }

  .radios-wrapper {
    --flow-space: var(--size-150);

    > * {
        --flow-space: var(--size-100);
    }
  }

  .convert {
    --flow-space: var(--size-400);
    border: transparent;
    background-color: transparent;
    color: inherit;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: 1em 2em;
    width: 100%;
    cursor: pointer;
    border-radius: var(--size-150);
    transition: 250ms ease-in-out;

    &:is(:hover, :focus-visible) {
        opacity: .9;
    }
  }
  }

  .result {
    text-align: center;
  }